html {
    font-family: sans-serif;
}



nav > ul {
    margin: 0;
    padding: 0;
}



.user-form {
    width: 100%;
    max-width: 20em;
    margin: auto;
}

.formkit-outer {
    width: 100%;
    margin: 1em 0;
}

.formkit-label {
    display: block;
    margin-bottom: 0.5em;
}
.formkit-inner input,
.formkit-inner textarea {
    width: 100%;
    padding: 0.5em 0.5em;
}

.formkit-inner input[type="radio"] {
    width: auto;
}


.table {
    width: 100%;
}

.table tr:nth-child(odd) { background-color: #e3e3e3 }



.flex { display: flex }
.flex { --gap: 0; gap: var(--gap); }
.flex.space-between { justify-content: space-between }
.flex.align-center { align-items: center }

.flex .grow { flex-grow: 1; }


.flex.gap-1 { --gap: 1em }


.text-center { text-align: center }
.text-left { text-align: left }
.text-right { text-align: right }
